<a href="https://colab.research.google.com/github/eliseolozanowp/Progra-III-2023/blob/main/Ejemplos_basicos_en_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Práctica - 21 de Julio

Introducción a Python

Declaración de variables

In [ ]:
saludo = "Hola Mundo"
print(saludo)

Hola Mundo

In [ ]:
num1 = 5
num2 = 7.5
resp = num1 + num2
print("La suma de", num1, "+", num2, "=", resp)
print(resp)

La suma de 5 + 7.5 = 12.5
12.5

In [ ]:
name = "Eliseo Lozano"
edad = 21
saludo = "Hola "+ name + ", tu edad: "+ str(edad)
print(saludo)

Hola Eliseo Lozano, tu edad: 21

In [ ]:
nombre = input("Dime tu nombre: ")
edad = input("Tu edad: ")
saludo = "Hola que tal "+ nombre + ", tu edad: "+ edad
print(saludo)

Dime tu nombre: Eliseo
Tu edad: 21
Hola que tal Eliseo, tu edad: 21

In [ ]:
num1 = float(input("Digite el primer numero: "))
num2 = float(input("Digite el segundo numero: "))
suma= num1 + num2
print("La suma es: ", suma)

Digite el primer numero: 12
Digite el segundo numero: 13
La suma es:  25.0

In [ ]:
num1 = float(input("Digite el primer numero: "))
num2 = float(input("Digite el segundo numero: "))
resta= num1 - num2
print("La resta es: ", resta)

Digite el primer numero: 34
Digite el segundo numero: 23
La resta es:  11.0

In [ ]:
num1 = float(input("Digite el primer numero: "))
num2 = float(input("Digite el segundo numero: "))
mult= num1 * num2
print("La multiplicación es: ", mult)

Digite el primer numero: 12
Digite el segundo numero: 12
La multiplicación es:  144.0

In [ ]:
num1 = float(input("Digite el primer numero: "))
num2 = float(input("Digite el segundo numero: "))
div= num1 / num2
print("La división es: ", div)

Digite el primer numero: 12
Digite el segundo numero: 4
La división es:  3.0

# Clase - 26 de Julio

**TIPOS DE DATOS**

In [ ]:
num1 = 5 #variable de tipo entero.
num2 = 4.9 #variable de tipo double, real, decimal.
print("Los valores: Num 1: ", num1, " Num 2: ", num2)

#num1 = 4.9
print("Valor: Num 1: ", num1)

Los valores: Num 1:  5  Num 2:  4.9
Valor: Num 1:  5

In [ ]:
varLogica = False

print("Variable Booleana: ", varLogica)

Variable Booleana:  False

In [ ]:
nombre = "Luis Hernandez"
print("Mi Nombre: ", nombre, "Iniciales: ", nombre[0], nombre[5], "Longitud: ", len(nombre) )
print("Primer Nombre: ", nombre[0:5])
print("Primer Nombre: ", nombre[:5])
print("Apellido: ", nombre[5:len(nombre)])
print("Apellid: ", nombre[5:])
print("Apellido: ", nombre[-9:])

Mi Nombre:  Luis Hernandez Iniciales:  L H Longitud:  14
Primer Nombre:  Luis
Primer Nombre:  Luis
Apellido:  Hernandez
Apellid:  Hernandez
Apellido:  Hernandez

In [ ]:
print(type(num1))
print(type(num2))
print(type(varLogica))
print(type(nombre))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))
resp = num1 + num2
print("La suma es: ", resp)

Num 1: 12
Num 2: 12
La suma es:  24.0

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("N4.26um 2: "))
resp = suma(num1, num2)
print(resp)

Num 1: 13
N4.26um 2: 23
36.0

# Práctica - 28 de Julio

**FUNCIONES DE USUARIO**

* Convertir grados celsius a farenheit.

In [ ]:
def convertir_cf(c):
  return c*9/5 + 32

In [ ]:
c = float(input("Celsius: "))
print("Farenheit: ", convertir_cf(c))

Celsius: 42
Farenheit:  107.6

* Convertir grados farenheit a celsius.

In [ ]:
def convertir_fc(f):
  return (f-32) * 5/9

In [ ]:
f = float(input("Farenheit: "))
print("Celsius: ", convertir_fc(f))

Farenheit: 107.6
Celsius:  42.0

* Convertir grados celsius a kelvin.

In [ ]:
def convertir_ck(c):
  return c + 273.15

In [ ]:
c = float(input("Celsius: "))
print("Kelvin: ", convertir_ck(c))

Celsius: 40
Kelvin:  313.15

* Convertir grados farenheit a kelvin.

In [ ]:
def convertir_fk(f):
  return (f - 32) * 5/9 + 273.15

In [ ]:
f = float(input("Farenheit: "))
print("Kelvin: ", convertir_fk(f))

Farenheit: 100
Kelvin:  310.92777777777775

* Convertir grados kelvin a celsius.

In [ ]:
def convertir_kc(k):
  return k - 273.15

In [ ]:
k = float(input("Kelvin: "))
print("Celsius: ", convertir_kc(k))

Kelvin: 313.15
Celsius:  40.0

* Convertir grados kelvin a farenheit.

In [ ]:
def convertir_kf(k):
  return (k - 273.15) * 9/5 + 32

In [ ]:
k = float(input("Kelvin: "))
print("Farenheit: ", convertir_kf(k))

Kelvin: 310.928
Farenheit:  100.00040000000004

* CALCULAR EL SUELDO MENSUAL

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if(numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
  #isss + afp = 3 + 6.25 = 9.25 = 100 - 9.25 = 90.75/100 = 0.09075
  #sueldo = sueldo*0.9075
  return sueldo

In [ ]:
tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11, 9999999, 0.3, 288.57]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
  impSr = 0
  for tramo in tabla_isr:
    if sueldo>tramo[0] and sueldo<=tramo[1]:
      impSr = (sueldoNeto-tramo[0])*tramo[2] +tramo [3]
  return impSr

In [ ]:
valorXhr = 4
#isss = 3%
#afp = 6.25%
numHrs = float(input("Horas trabajadas: "))
s = sueldo(numHrs, valorXhr)
isr = calcularIsr(s, s*0.9075)
print("Sueldo: ", s, "ISR: ", isr, s*0.9075-isr)

Horas trabajadas: 8
Sueldo:  960.0 ISR:  55.18999999999998 816.01

# Clase - 9 de Agosto

## Funcions Lambda

* FUNCIONES PRECONTRUIDAS MAP, FILTER, FIND, REDUCE, ETC.

In [ ]:
def elevarCuadrado(num):
  return num**2

In [ ]:
data = [1,2,3,4,5]

In [ ]:
resp = map(elevarCuadrado, data)
print(list(resp))

[1, 4, 9, 16, 25]

In [ ]:
resp = map(lambda n:n**2, data)
print(list(resp))

[1, 4, 9, 16, 25]

In [ ]:
resp = filter(lambda n:n>2, data)
print( list(resp) )

[3, 4, 5]

In [ ]:
import functools

resp = functools.reduce(lambda a,n:a+n, data)
print(resp)

15

## Tuplas

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
#semana[0] = "otro"
print( semana.count("domingo") ) #count cuenta el numero de veces que aparece un elemento en la tupla
print( len(semana) )

1
7

## Listas => Array

In [ ]:
meses = ["ene", "feb", "mar", "abr", "may", "jun", "jul", "ago", "sep", "oct", "nov", "dic"]
print( meses[-2:] ) #ultimos dos meses del año
print( meses[:2] ) #primero dos meses del año

meses[0] = "enero"

print( meses )

['nov', 'dic']
['ene', 'feb']
['enero', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic']

In [ ]:
materias = [ ["Progra I", [5,6,8], [8,7,9], [9,10,9] ], ["Progra II"] ]
print( materias[1][0] )

Progra II

## Diccionarios => JSON

In [ ]:
materias = {
    "Progra I": {
        "c1": {
          "lab1" : 5,
          "lab2" : 6,
          "parcial" : 8
      },
      "c2": {
          "lab1" : 8,
          "lab2" : 7,
          "parcial" : 9
      },
      "c3": {
          "lab1" : 9,
          "lab2" : 10,
          "parcial" : 9
      }
    },
    "Progra II" :{

    }
}
print( materias["Progra I"]["c1"]["lab1"] )

5

# Práctica - 11 de Agosto

## **Listas**

In [ ]:
data = [2,5,6,8,9]

In [ ]:
resp = map(lambda n:n**3, data)
print(list(resp))

[8, 125, 216, 512, 729]

In [ ]:
fahrenheit = map(lambda c: c * 9/5 + 32, data)
print(list(fahrenheit))

[35.6, 41.0, 42.8, 46.4, 48.2]

In [ ]:
par = filter(lambda x: x%2 == 0, data)
print(list(par))

[2, 6, 8]

In [ ]:
impar = filter(lambda x: x%2 != 0, data)
print(list(impar))

[5, 9]

## CICLOS

* **FOR**

In [ ]:
for item in data:
  print(item)

2
5
6
8
9

* **WHILE**

In [ ]:
i=0
n = len(data)
while i<n:
  print( data[i] )
  i+=1

2
5
6
8
9

**TABLA DE MULTIPLICAR**

In [ ]:
num = int(input("Numero: "))
for item in range(1, 11):
  print(num, 'x', item, '=', num*item)

Numero: 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [ ]:
num = int(input("Numero: "))
count = 1

while count <= 10:
  num = num * 1
  print(num, 'x', count, '=', num * count)
  count += 1

In [ ]:
def calcular_deducciones(sueldo):
    # Deducción ISSS
    deduccion_isss = sueldo * 0.03

    # Deducción AFP
    deduccion_afp = sueldo * 0.0625

    # Deducción ISR
    deduccion_isr = 0
    tabla_isr = [
        [0.01, 472, 0, 0],
        [472.01, 895.24, 0.1, 17.67],
        [895.25, 2038.1, 0.2, 60.00],
        [2038.11, 9999999, 0.3, 288.57]
    ]

    for rango in tabla_isr:
        if sueldo >= rango[0] and sueldo <= rango[1]:
            deduccion_isr = (sueldo - rango[0] + 1) * rango[2] + rango[3]
            break

    # Suma de deducciones
    total_deducciones = deduccion_isss + deduccion_afp + deduccion_isr

    # Calculo de sueldo neto
    sueldo_neto = sueldo - total_deducciones

    return total_deducciones, sueldo_neto

# Obtener el sueldo del usuario
sueldo = float(input("Ingrese el sueldo: "))

total_deducciones, sueldo_neto = calcular_deducciones(sueldo)

# Imprimir resultados
print(f"Total deducciones: ${total_deducciones:.2f}")
print(f"Sueldo neto: ${sueldo_neto:.2f}")

In [ ]:
def sueldo(numHrs, valorXhr):
    sueldo_base = numHrs * valorXhr * 30
    if numHrs > 8:
        horas_extras = numHrs - 8
        sueldo_base += horas_extras * valorXhr * 2 * 30
    return sueldo_base

tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11, 9999999, 0.3, 288.57]
]

def calcularIsr(sueldo):
    impSr = 0
    for tramo in tabla_isr:
        if sueldo >= tramo[0] and sueldo <= tramo[1]:
            impSr = (sueldo - tramo[0]) * tramo[2] + tramo[3]
            return impSr
    return impSr

valorXhr = 1.45
numHrs = float(input("Horas trabajadas: "))

sueldo_bruto = sueldo(numHrs, valorXhr)
isss = sueldo_bruto * 0.03
afp = sueldo_bruto * 0.0625
sueldo_neto = sueldo_bruto - isss - afp
impSr = calcularIsr(sueldo_bruto)
sueldo_neto -= impSr

print("Sueldo Bruto:", sueldo_bruto)
print("ISSS:", isss)
print("AFP:", afp)
print("ISR:", impSr)
print("Total Deducciones:", isss + afp + impSr)
print("Sueldo Neto:", sueldo_neto)

In [ ]:
def acumulacion_meses(n):
    return n * (n + 1) // 2

meses = int(input("Hasta cuántos meses quieres calcular? "))

print("MESES", " " * 10, "ACUMULACION")
for i in range(1, meses + 1):
    print(i, " " * (15 - len(str(i))), acumulacion_meses(i))

In [ ]:
def caja_a_unidad(cajas):
    return cajas * 25

def unidad_a_caja(unidades):
    cajas_completas = unidades // 25
    unidades_restantes = unidades % 25
    return f"{cajas_completas} cajas y {unidades_restantes} unidades"

def saco_a_libra(sacos):
    return sacos * 50

def libra_a_saco(libras):
    sacos_completos = libras // 50
    libras_restantes = libras % 50
    return f"{sacos_completos} sacos y {libras_restantes} libras"

def fardo_a_unidad(fardos):
    return fardos * 5

def unidad_a_fardo(unidades):
    fardos_completos = unidades // 5
    unidades_restantes = unidades % 5
    return f"{fardos_completos} fardos y {unidades_restantes} unidades"

# Pruebas
print(caja_a_unidad(1))         # 25
print(unidad_a_caja(80))       # "3 cajas y 5 unidades"
print(saco_a_libra(1))         # 50
print(libra_a_saco(130))       # "2 sacos y 30 libras"
print(fardo_a_unidad(1))       # 5
print(unidad_a_fardo(28))      # "5 fardos y 3 unidades"

In [ ]:
def caja_a_unidad(cajas):
    return cajas * 25

def unidad_a_caja(unidades):
    cajas_completas = unidades // 25
    unidades_restantes = unidades % 25
    return f"{cajas_completas} cajas y {unidades_restantes} unidades"

def saco_a_libra(sacos):
    return sacos * 50

def libra_a_saco(libras):
    sacos_completos = libras // 50
    libras_restantes = libras % 50
    return f"{sacos_completos} sacos y {libras_restantes} libras"

def fardo_a_unidad(fardos):
    return fardos * 5

def unidad_a_fardo(unidades):
    fardos_completos = unidades // 5
    unidades_restantes = unidades % 5
    return f"{fardos_completos} fardos y {unidades_restantes} unidades"

def main():
    while True:
        print("\nConversor:")
        print("1. Caja a Unidad")
        print("2. Unidad a Caja")
        print("3. Saco a Libra")
        print("4. Libra a Saco")
        print("5. Fardo a Unidad")
        print("6. Unidad a Fardo")
        print("7. Salir")
        opcion = int(input("Selecciona una opción: "))

        if opcion == 1:
            cajas = float(input("Ingresa número de cajas: "))
            print(f"{cajas} cajas son {caja_a_unidad(cajas)} unidades")
        elif opcion == 2:
            unidades = float(input("Ingresa número de unidades: "))
            print(unidad_a_caja(unidades))
        elif opcion == 3:
            sacos = float(input("Ingresa número de sacos: "))
            print(f"{sacos} sacos son {saco_a_libra(sacos)} libras")
        elif opcion == 4:
            libras = float(input("Ingresa número de libras: "))
            print(libra_a_saco(libras))
        elif opcion == 5:
            fardos = float(input("Ingresa número de fardos: "))
            print(f"{fardos} fardos son {fardo_a_unidad(fardos)} unidades")
        elif opcion == 6:
            unidades = float(input("Ingresa número de unidades: "))
            print(unidad_a_fardo(unidades))
        elif opcion == 7:
            print("Hasta luego!")
            break
        else:
            print("Opción no válida. Intenta de nuevo.")

if __name__ == "__main__":
    main()

# Práctica - 18 de Agosto

### **Escribir un programa que pida la nota de un examen (0-10), e imprimir por pantalla la calificación en formato: "Suspenso" si la nota es menor a 5, "Aprobado" si es entre 5 inclusive y 7 sin incluir, "Notable" si esta entre 7 inclusive y 9 sin incluir, "Sobresaliente" si esta entre 9 inclusive y 10 sin incluir, y "Honorable" si es 10.**

In [ ]:
nota = float(input("Ingresa la nota del examen: "))

if nota >= 0 and nota < 5:
  print("Suspenso")
elif nota >= 5 and nota < 7:
  print("Aprobado")
elif nota >= 7 and nota < 9:
  print("Notable")
elif nota >= 9 and nota < 10:
  print("Sobresaliente")
elif nota == 10:
  print("Honorable")
else:
  print("La calificación no puede ser menor que 0 o mayor que 10")

In [ ]:
nota = float(input("Nota: "))
if(nota<0 or nota >10):
  print("Nota invalida")
elif(nota<5):
  print("SUSPENSO")
elif(nota<7):
  print("APROBADO")
elif(nota<9):
  print("NOTABLE")
elif(nota<10):
  print("SOBRESALIENTE")
else:
  print("HONORABLE")

### **Escriba un programa que muestre la secuencia fibonacci**

In [ ]:
limit = int(input("Limit: "))
a=0
b=1
c=0
while c<limit:
  c=a+b
  print(a,"+",b,"=", c)
  b=a
  a=c

Limit: 45
0 + 1 = 1
1 + 0 = 1
1 + 1 = 2
2 + 1 = 3
3 + 2 = 5
5 + 3 = 8
8 + 5 = 13
13 + 8 = 21
21 + 13 = 34
34 + 21 = 55

# Clase - 23 de Agosto

**Programación Orientada a Objetos**

* Clase

In [ ]:
class Calculadora:
  def sumar(self, num1, num2):
    return num1 + num2

* Instancia de una clase

In [ ]:
objCalculadora = Calculadora()

* Objeto

In [ ]:
print ("La suma de 5 + 3 = ", objCalculadora.sumar(5,3))

La suma de 5 + 3 =  8

# Ejercicios - Tareas


## **Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP (6.25%), ISR (Según tabla) e imprima el total deducciones y sueldo neto.**

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if(numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
  #isss + afp = 3 + 6.25 = 9.25 = 100 - 9.25 = 90.75/100 = 0.09075
  #sueldo = sueldo*0.9075
  return sueldo

In [ ]:
tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11, 9999999, 0.3, 288.57]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
  impSr = 0
  for tramo in tabla_isr:
    if sueldo>tramo[0] and sueldo<=tramo[1]:
      impSr = (sueldoNeto-tramo[0])*tramo[2] +tramo [3]
  return impSr

In [ ]:
valorXhr = 4
#isss = 3%
#afp = 6.25%
numHrs = float(input("Horas trabajadas: "))
s = sueldo(numHrs, valorXhr)
isr = calcularIsr(s, s*0.9075)
print("Sueldo: ", s, "ISR: ", isr, s*0.9075-isr)

Horas trabajadas: 3
Sueldo:  360.0 ISR:  0.0 326.7

## **Calcular el valor a pagar según el número de metros consumidos de agua potable**

In [ ]:
def calcular_pago(metros_consumidos):
    # Cuota fija
    if metros_consumidos <= 18:
        return 6

    # Si el consumo es entre 19 y 28 metros
    elif metros_consumidos <= 28:
        exceso_18 = metros_consumidos - 18
        valor_exceso = exceso_18 * 0.45
        return 6 + valor_exceso

    # Si el consumo es de 29 metros en adelante
    else:
        exceso_28 = metros_consumidos - 28
        valor_exceso_28 = exceso_28 * 0.65

        exceso_18 = 28 - 18
        valor_exceso_18 = exceso_18 * 0.45

        return 6 + valor_exceso_18 + valor_exceso_28

# Solicitar el número de metros consumidos
metros = int(input("Introduce el número de metros consumidos: "))

# Calcular el valor a pagar
valor_a_pagar = calcular_pago(metros)

# Mostrar el resultado
print(f"Valor a pagar: ${valor_a_pagar:.2f}")

Introduce el número de metros consumidos: 19
Valor a pagar: $6.45

## **Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la formula matemática para evitar ciclos.**

In [ ]:
def suma_hasta_n(n):
    return n * (n + 1) // 2

try:
    n = int(input("Introduce el número de meses para calcular la acumulación: "))

    if n <= 0:
        print("El número de meses debe ser mayor que cero.")
    else:
        acumulacion = suma_hasta_n(n)
        print(f"La acumulación de meses hasta el mes {n} es {acumulacion}.")

except ValueError:
    print("Por favor, introduce un número válido.")

Introduce el número de meses para calcular la acumulación: 9
La acumulación de meses hasta el mes 9 es 45.

In [ ]:
def suma_hasta_n(n):
    return n * (n + 1) // 2

try:
    n = int(input("Introduce el número de meses para calcular la acumulación: "))

    if n <= 0:
        print("El número de meses debe ser mayor que cero.")
    else:
        print("MESES ------- ACUMULACION")

        acumulacion = 0
        for i in range(1, n + 1):
            acumulacion += i
            print(f"{i} ------- {i} + {acumulacion - i} = {acumulacion}")

except ValueError:
    print("Por favor, introduce un número válido.")

Introduce el número de meses para calcular la acumulación: 15
MESES ------- ACUMULACION
1 ------- 1 + 0 = 1
2 ------- 2 + 1 = 3
3 ------- 3 + 3 = 6
4 ------- 4 + 6 = 10
5 ------- 5 + 10 = 15
6 ------- 6 + 15 = 21
7 ------- 7 + 21 = 28
8 ------- 8 + 28 = 36
9 ------- 9 + 36 = 45
10 ------- 10 + 45 = 55
11 ------- 11 + 55 = 66
12 ------- 12 + 66 = 78
13 ------- 13 + 78 = 91
14 ------- 14 + 91 = 105
15 ------- 15 + 105 = 120

## **Conversores: (10 ítems como mínimo por cada uno)**
* Monedas
* Longitud
* Masa
* Almacenamiento
* Tiempo
* Volumen
* Área

### Monedas

In [ ]:
monedas_con_equivalencias = {
    "USD": 1,
    "MXN": 16.79,
    "Euro": 0.93,
    "Quetzal": 7.85,
    "Colon CR": 538.75,
    "Yen": 146.29,
    "ARG": 349.98,
    "Sol": 3.69,
    "Rublo": 95.00,
    "Libra": 0.80
}
print("Monedas disponibles:")
for moneda in monedas_con_equivalencias:
    print(moneda)

nombre_moneda_origen = ""
nombre_moneda_destino = ""
while nombre_moneda_origen not in monedas_con_equivalencias:
    nombre_moneda_origen = input("Moneda origen: ")

while nombre_moneda_destino not in monedas_con_equivalencias:
    nombre_moneda_destino = input("Moneda destino: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_moneda_origen}: "))
equivalencia_origen = monedas_con_equivalencias[nombre_moneda_origen]
equivalencia_destino = monedas_con_equivalencias[nombre_moneda_destino]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_moneda_origen} equivale a {equivalencia:.2f} {nombre_moneda_destino}.")

Monedas disponibles:
USD
MXN
Euro
Quetzal
Colon CR
Yen
ARG
Sol
Rublo
Libra
Moneda origen: Sol
Moneda destino: Quetzal
Ingresa la cantidad de Sol: 6000
6000.00 Sol equivale a 12764.23 Quetzal.

### Longitudes

In [ ]:
Longitudes = {
    "cm": 1,
    "m": 0.01,
    "pulg": 0.393701,
    "yardas": 0.0109361,
    "pies": 0.0328084,
    "mm": 10,
    "km": 1e-5,
    "dm": 0.1
}

print("Longitudes disponibles:")
for longitudes in Longitudes:
    print(longitudes)

nombre_de_longitud = ""
nombre_longitud_a_convertir = ""
while nombre_de_longitud not in Longitudes:
    nombre_de_longitud = input("Longitud 1: ")

while nombre_longitud_a_convertir not in Longitudes:
    nombre_longitud_a_convertir = input("Longitud 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_longitud}: "))
equivalencia_origen = Longitudes[nombre_de_longitud]
equivalencia_destino = Longitudes[nombre_longitud_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_longitud} equivale a {equivalencia:.2f} {nombre_longitud_a_convertir}.")

Longitudes disponibles:
cm
m
pulg
yardas
pies
mm
km
dm
Longitud 1: km
Longitud 2: m
Ingresa la cantidad de km: 2
2.00 km equivale a 2000.00 m.

### Masa

In [ ]:
Masas = {
    "Gramo": 1,
    "Libra": 0.00220462,
    "Centigramo": 100,
    "Miligramo": 1000,
    "Decagramo": 0.1,
    "Hectogramo": 0.01,
    "Kilogramo": 0.001,
    "Tonelada": 1e-6,
    "Onza":0.035274
}

print("Masas Disponibles:")
for masas in Masas:
    print(masas)

nombre_de_masa = ""
nombre_masa_a_convertir = ""
while nombre_de_masa not in Masas:
    nombre_de_masa = input("Masa 1: ")

while nombre_masa_a_convertir not in Masas:
    nombre_masa_a_convertir = input("Masa 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_masa}: "))
equivalencia_origen = Masas[nombre_de_masa]
equivalencia_destino = Masas[nombre_masa_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_masa} equivale a {equivalencia:.2f} {nombre_masa_a_convertir}.")

Masas Disponibles:
Gramo
Libra
Centigramo
Miligramo
Decagramo
Hectogramo
Kilogramo
Tonelada
Onza
Masa 1: Libra
Masa 2: Onza
Ingresa la cantidad de Libra: 1
1.00 Libra equivale a 16.00 Onza.

### Almacenamiento

In [ ]:
Almacenamiento = {
    "Byte": 1,
    "Bit": 8,
    "Kb": 0.001,
    "Mb": 1e-6,
    "Gb": 1e-9,
    "Tb": 1e-12,
    "Pb": 1e-15,
    "Eb": 1e+18,
}

print("Almacenamiento Disponibles:")
for almacenamiento in Almacenamiento:
    print(almacenamiento)

nombre_de_alma = ""
nombre_alma_a_convertir = ""
while nombre_de_alma not in Almacenamiento:
    nombre_de_alma = input("almacenamiento 1: ")

while nombre_alma_a_convertir not in Almacenamiento:
    nombre_alma_a_convertir = input("almacenamiento 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_alma}: "))
equivalencia_origen = Almacenamiento[nombre_de_alma]
equivalencia_destino = Almacenamiento[nombre_alma_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_alma} equivale a {equivalencia:.2f} {nombre_alma_a_convertir}.")

Almacenamiento Disponibles:
Byte
Bit
Kb
Mb
Gb
Tb
Pb
Eb
almacenamiento 1: Mb
almacenamiento 2: Gb
Ingresa la cantidad de Mb: 7000
7000.00 Mb equivale a 7.00 Gb.

### Tiempo

In [ ]:
Tiempo = {
    "Segundos": 1,
    "Milisegundo": 1000,
    "Minuto": 0.0166667,
    "Hora": 0.000277778,
    "Dia": 1.1574e-5,
    "Semana": 1.6534e-6,
    "Mes": 3.8052e-7,
    "Año": 3.171e-8,
    "Decada": 3.171e-9
}

print("Tiempo Disponible:")
for tiempo in Tiempo:
    print(tiempo)

nombre_de_tiempo = ""
nombre_tiempo_a_convertir = ""
while nombre_de_tiempo not in Tiempo:
    nombre_de_tiempo = input("tiempo 1: ")

while nombre_tiempo_a_convertir not in Tiempo:
    nombre_tiempo_a_convertir = input("tiempo 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_tiempo}: "))
equivalencia_origen = Tiempo[nombre_de_tiempo]
equivalencia_destino = Tiempo[nombre_tiempo_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_tiempo} equivale a {equivalencia:.2f} {nombre_tiempo_a_convertir}.")

Tiempo Disponible:
Segundos
Milisegundo
Minuto
Hora
Dia
Semana
Mes
Año
Decada
tiempo 1: Año
tiempo 2: Semana
Ingresa la cantidad de Año: 1
1.00 Año equivale a 52.14 Semana.

### Volumen

In [ ]:
Volumen = {
    "Litro": 1,
    "Centilitros": 0.001,
    "Decilitros": 10,
    "Mililitro": 1000,
    "Galones": 0.264172,
    "Metro cubico": 0.001,
    "Taza": 4.2268,
    "Pinta": 2.11338,
    "Onza": 35.1951,
    "cucharada": 56.3121
}

print("Volumenes Disponible:")
for volumen in Volumen:
    print(volumen)

nombre_de_volumen = ""
nombre_volumen_a_convertir = ""
while nombre_de_volumen not in Volumen:
    nombre_de_volumen = input("volumen 1: ")

while nombre_volumen_a_convertir not in Volumen:
    nombre_volumen_a_convertir = input("volumen 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_volumen}: "))
equivalencia_origen = Volumen[nombre_de_volumen]
equivalencia_destino = Volumen[nombre_volumen_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_volumen} equivale a {equivalencia:.2f} {nombre_volumen_a_convertir}.")

Volumenes Disponible:
Litro
Centilitros
Decilitros
Mililitro
Galones
Metro cubico
Taza
Pinta
Onza
cucharada
volumen 1: Onza
volumen 2: Litro
Ingresa la cantidad de Onza: 500
500.00 Onza equivale a 14.21 Litro.

### Área

In [ ]:
Area = {
    "m2": 1,
    "km2": 1e-6,
    "milla2": 3.861e-7,
    "yarda2": 1.19599,
    "pie2": 10.7639,
    "pulg2": 1550,
    "hec": 1e-4,
    "acre": 0.000247105,
}

print("Areas Disponible:")
for area in Area:
    print(area)

nombre_de_area = ""
nombre_area_a_convertir = ""
while nombre_de_area not in Area:
    nombre_de_area = input("area 1: ")

while nombre_area_a_convertir not in Area:
    nombre_area_a_convertir = input("area 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_area}: "))
equivalencia_origen = Area[nombre_de_area]
equivalencia_destino = Area[nombre_area_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_area} equivale a {equivalencia:.2f} {nombre_area_a_convertir}.")

Areas Disponible:
m2
km2
milla2
yarda2
pie2
pulg2
hec
acre

## **Realizar un conversor propio, donde especifique el valor de conversión:**
* 1 caja -> 25 unidad. Viceversa 80 unidades – 3/5 -> cajas/unidades
* 1 saco -> 50 libras. Viceversa 130 libras – 2/30 -> sacos/libras
* 1 fardo -> 5 unidades. Viceversa 28 unidades – 5/3 -> fardos/unidades

In [ ]:
def convertir_cajas(unidades, a_cajas=True):
    if a_cajas:
        return unidades / 25, unidades % 25
    else:
        return unidades * 25

def convertir_sacos(libras, a_sacos=True):
    if a_sacos:
        return libras / 50, libras % 50
    else:
        return libras * 50

def convertir_fardos(unidades, a_fardos=True):
    if a_fardos:
        return unidades / 5, unidades % 5
    else:
        return unidades * 5

while True:
    print("Conversor de Unidades")
    print("1. Cajas - unidades")
    print("2. Unidades - cajas")
    print("3. Sacos - libras")
    print("4. Libras - sacos")
    print("5. Fardos - unidades")
    print("6. Unidades - fardos")

    opcion = input("Seleccione una opción: ")

    cantidad = float(input("Ingrese la cantidad para convertir: "))

    if opcion == '1':
        print(f"{cantidad} cajas son {convertir_cajas(cantidad, False)} unidades.")
    elif opcion == '2':
        cajas, unidades = convertir_cajas(cantidad)
        print(f"{cantidad} unidades son {int(cajas)} cajas y {int(unidades)} unidades.")
    elif opcion == '3':
        print(f"{cantidad} sacos son {convertir_sacos(cantidad, False)} libras.")
    elif opcion == '4':
        sacos, libras = convertir_sacos(cantidad)
        print(f"{cantidad} libras son {int(sacos)} sacos y {int(libras)} libras.")
    elif opcion == '5':
        print(f"{cantidad} fardos son {convertir_fardos(cantidad, False)} unidades.")
    elif opcion == '6':
        fardos, unidades = convertir_fardos(cantidad)
        print(f"{cantidad} unidades son {int(fardos)} fardos y {int(unidades)} unidades.")
    else:
        print("Opción no válida.")

    continuar = input("¿Desea realizar otra conversión? (s/n): ")
    if continuar.lower() != 's':
        break

Conversor de Unidades
1. Cajas - unidades
2. Unidades - cajas
3. Sacos - libras
4. Libras - sacos
5. Fardos - unidades
6. Unidades - fardos
Seleccione una opción: 1
Ingrese la cantidad para convertir: 3
3.0 cajas son 75.0 unidades.
¿Desea realizar otra conversión? (s/n): s
Conversor de Unidades
1. Cajas - unidades
2. Unidades - cajas
3. Sacos - libras
4. Libras - sacos
5. Fardos - unidades
6. Unidades - fardos
Seleccione una opción: 2
Ingrese la cantidad para convertir: 80
80.0 unidades son 3 cajas y 5 unidades.

## **Escriba un programa que encuentre la media aritmetica de una serie de numeros introducidos por el usuario.**

In [ ]:
numeros = int(input("¿Cuántos números deseas ingresar?: "))
suma = 0

for i in range(numeros):
  numero = float(input(f"Ingrese el número {i+1}: "))
  suma += numero

media = suma / numeros

print(f"La media aritmética de los {numeros} números es: {media}")

## **Escriba un programa que determine si una palabra introducida por el usuario es palindrome o no, ejm. de palabra palindrome: Ana, Oso, Oro, etc.**

In [ ]:
palabra = input("Introduce una palabra: ")
palabra = palabra.lower()

palabra_reversa = palabra[::-1]

if palabra == palabra_reversa:
    print(f"'{palabra}' es un palíndromo.")
else:
    print(f"'{palabra}' no es un palíndromo.")

Introduce una palabra: Ana
'ana' es un palíndromo.

## **Escriba un programa que convierta un numero por el usuario a su equivalente en numeros rumanos: Ejm: 5 -> V.**

In [ ]:
def romano(n):
    mapa = {
        1: "I",
        4: "IV",
        5: "V",
        9: "IX",
        10: "X",
        40: "XL",
        50: "L",
        90: "XC",
        100: "C",
        400: "CD",
        500: "D",
        900: "CM",
        1000: "M"
    }

    resultado = []

    claves = sorted(mapa.keys(), reverse=True)

    for clave in claves:
        while n >= clave:
            resultado.append(mapa[clave])
            n -= clave

    return "".join(resultado)

try:
    numero = int(input("Introduce un número para convertirlo a números romanos: "))
    if numero <= 0 or numero > 5000:
        print("El número debe estar en el rango de 1 a 5000.")
    else:
        romano = romano(numero)
        print(f"El número {numero} en números romanos es {romano}")
except ValueError:
    print("Por favor, introduce un número válido.")

Introduce un número para convertirlo a números romanos: 4999
El número 4999 en números romanos es MMMMCMXCIX

# Parcial

## Desarrolle el conversor de Área (Superficie) haciendo uso de los diccionarios y las funciones de usuario en Python que contenga las siguientes opciones:
* Pie Cuadrado
* Vara Cuadrada
* Yarda Cuadrada
* Metro Cuadrado
* Tareas
* Manzana
* Hectárea

In [ ]:
areas = {
    'Pie Cuadrado': 75820.9849753,
    'Vara Cuadrada': 8424.55388614,
    'Yarda Cuadrada': 1.19599,
    'Metro Cuadrado': 6989.96,
    'Tareas': 16,
    'Manzana': 1,
    'Hectárea': 0.698896
}

def convert_area(valor, from_unit, to_unit):
    if from_unit in areas and to_unit in areas:
        valor_convertir = (areas[to_unit] / areas[from_unit]) * valor
        return valor_convertir
    else:
        return None

def main():
    print("Conversor de Áreas")
    print("Unidades disponibles:", ", ".join(areas.keys()))

    from_unit = input("Ingrese la unidad de área de origen: ")
    to_unit = input("Ingrese la unidad de área de destino: ")

    if from_unit in areas and to_unit in areas:
        valor = float(input(f"Ingrese el valor en {from_unit}: "))
        valor_convertir = convert_area(valor, from_unit, to_unit)
        if valor_convertir is not None:
            print(f"{valor} {from_unit} equivale a {valor_convertir} {to_unit}")
        else:
            print("Las unidades ingresadas no son válidas.")
    else:
        print("Las unidades ingresadas no son válidas.")

if __name__ == "__main__":
    main()

Conversor de Áreas
Unidades disponibles: Pie Cuadrado, Vara Cuadrada, Yarda Cuadrada, Metro Cuadrado, Tareas, Manzana, Hectárea
Ingrese la unidad de área de origen: Metro Cuadrado
Ingrese la unidad de área de destino: Vara Cuadrada
Ingrese el valor en Metro Cuadrado: 1
1.0 Metro Cuadrado equivale a 1.205236351301009 Vara Cuadrada

**El siguiente código lo hice día después del parcial, el código realizado en el parcial es el de arriba (Para evitar confusión para calificar)**